<!DOCTYPE html>
{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load solo_tags %}

{% block extra_head %}
  {% get_solo 'geonode_ads.LogoImage' as logo %}
  {% get_solo 'geonode_ads.NavbarColor' as navcolor %}
  {% get_solo 'geonode_ads.HyperlinkColor' as hyperlinkcolor %}
  <style>
    .navbar-brand {
      background: url('uploaded/{{ logo.logo_image }}') no-repeat;
      background-size: contain;
    }
    .navbar-inverse {
      background-color: {{ navcolor.color }};
    }
    .footer {
      background-color: {{ navcolor.color }};
    }
    a {
      color: {{ hyperlinkcolor.color }};
    }
    a:hover {
      color: {{ hyperlinkcolor.color }};
    }
  </style>
{% endblock %}

{% block footer %}
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-8 small-text">
            <b>{% trans "Powered by" %} <a href="http://geonode.org" target="_new">{% trans "Geonode" %}</a> {% trans "version" %} {{ VERSION }}</b> |
            <a href="/docs">{% trans "Documentation" %}</a>
          </div>
          <div class="col-md-4 pull-right">
            {% if csrf_token != "NOTPROVIDED" %}
            {% get_current_language as LANGUAGE %}
            <form class="form-inline" action="/i18n/setlang/" method="post">
              <label>{% trans "Language" %}</label>
            {% csrf_token %}
              <select name="language" onchange="javascript:form.submit()">
                {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>
                  {{ lang.1 }}
                </option>
                {% endfor %}
              </select>
            </form>
          {% endif %}
          </div> <!-- /.pull-right -->
        </div>
      </div> <!-- /.container -->
    </footer>
{% endblock footer %}
