<!DOCTYPE html>
{% extends "base.html" %}
{% load classification_banner i18n %}
{% load staticfiles %}
{% load solo_tags %}

{% block extra_head %}
  {% get_solo 'core.LogoImage' as logo %}
  {% get_solo 'core.NavbarColor' as navcolor %}
  {% get_solo 'core.HyperlinkColor' as hyperlinkcolor %}
  <link href="{{ STATIC_URL }}css/site_base.css" rel="stylesheet"/>
  <style>
    .navbar-brand {
      background-image: url('/uploaded{{ logo.logo_image }}');
      background-image: url('{{ logo.logo_image.url }}');
    }
    .navbar-inverse {
      background-color: {{ navcolor.color }};
    }
    .footer {
      background-color: {{ navcolor.color }};
    }
    a {
      color: {{ hyperlinkcolor.color }};
    }
    a:hover {
      color: {{ hyperlinkcolor.color }};
    }
  </style>
{% endblock %}
{% block header %}
    {% if classification_banner_enabled %}
        <link href="{{ STATIC_URL }}css/django_classification_banner_overrides.css" rel="stylesheet"/>
        {% classification_banner %}
    {% endif %}
    {{ block.super }}
{% endblock %}

{% block footer %}
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-8 small-text">
            <b>{% trans "Powered by" %} <a href="http://boundlessgeo.com" target="_new">{% trans "Boundless Spatial" %}</a> {% trans "version" %} {{ VERSION }}</b> |
            <a href="/docs">{% trans "Documentation" %}</a>
          </div>
          <div class="col-md-4 pull-right">
            {% if csrf_token != "NOTPROVIDED" %}
            {% get_current_language as LANGUAGE %}
            <form class="form-inline" action="/i18n/setlang/" method="post">
              <label>{% trans "Language" %}</label>
            {% csrf_token %}
              <select name="language" onchange="javascript:form.submit()">
                {% for lang in LANGUAGES %}
                <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>
                  {{ lang.1 }}
                </option>
                {% endfor %}
              </select>
            </form>
          {% endif %}
          </div> <!-- /.pull-right -->
        </div>
      </div> <!-- /.container -->
    </footer>
{% endblock footer %}
