<!DOCTYPE html>
{% extends "site_base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load base_tags %}
{% load solo_tags %}

{% block title %} {% trans "Welcome!" %} - {{ block.super }} {% endblock %}

{% block body_class %}home{% endblock %}

{% block middle %}

  {% block hero %}
  {% get_solo 'core.BannerImage' as banner %}
  {% get_solo 'core.SiteName' as site_name %}
  {% get_solo 'core.IconImage' as icon %}
  {% get_solo 'core.TagLine' as tag_line %}
  <div class="jumbotron" style="background: url('..{{ banner.banner_image.url }}'); background-size: cover;">
    <div class="container">
      <h1>
        <img src="{{ icon.icon_image.url }}">
        <span class="title"> {{ site_name.site_name }} </span>
      </h1>
      <p>
        {{tag_line.tag_line}}
      </p>
    </div>
  {% endblock %}
  </div>

  {% block mainbody %}
  <div class="container">
    <div class="row">
    {% with facet_type='home' %}
     {% facets as facets %}
      <div class="col-md-4">
        <a class="info-blurb" href="{% url "layer_browse" %}">
          <p class="text-center">
            <span class="fa-stack fa-rotate-90 fa-2x" >
              <i class="fa fa-stop fa-layers fa-stack-1x fa-2x" style="left: 0;"></i>
              <i class="fa fa-stop fa-layers fa-stack-1x fa-2x" style="left: -.15em;color:#E6E9ED;"></i>
              <i class="fa fa-stop fa-layers fa-stack-1x fa-2x" style="left: -.3em;"></i>
              <i class="fa fa-stop fa-layers fa-stack-1x fa-2x" style="left: -.45em;color:#E6E9ED;"></i>
              <i class="fa fa-stop fa-layers fa-stack-1x fa-2x" style="left: -.6em;"></i>
            </span>
          </p>
          <h2 class="text-center stacked">{{ facets.layer|default:"No" }} Layer{{ facets.layer|pluralize }}</h2>
          <p class="text-center blurb">{% trans "Search for geospatial data published by others and public sources. Download them in the format you need." %}</p>
          <p class="text-center"><a class="btn btn-default" href="{% url "layer_browse" %}" role="button">{% trans "Explore Layers" %} &raquo;</a></p>
        </a>
      </div>
      <div class="col-md-4">
        <a class="info-blurb" href="{% url "maps_browse" %}">
          <p class="text-center"><i class="fa fa-map fa-5x"></i></p>
          <h2 class="text-center">{{ facets.map|default:"No" }} Map{{ facets.map|pluralize }}</h2>
          <p class="text-center blurb">{% trans "Aggregate and style geospatial data into maps and share them publicly or restrict access to specific users.<!--Or make a report, spreadsheet, app or dashboard.-->" %}</p>
          <p class="text-center"><a class="btn btn-default" href="{% url "maps_browse" %}" role="button">{% trans "Create maps" %} &raquo;</a></p>
        </a>
      </div>
      <div class="col-md-4">
        <a class="info-blurb" href="{% url "layer_upload" %}">
          <p class="text-center"><i class="fa fa-cloud-upload fa-5x"></i></p>
          <h2 class="text-center">{{ facets.user|default:"No" }} User{{ facets.user|pluralize }}</h2>
          <p class="text-center blurb">{% trans "Exchange allows registered users to easily upload geospatial data, search for data and make maps." %}</p>
          <p class="text-center"><a class="btn btn-default" href="{% url "layer_upload" %}" role="button">{% trans "Share data" %} &raquo;</a></p>
        </a>
      </div>
    {% endwith %}
    </div>
  </div>
  {% verbatim %}
  <div ng-app="featured">
    <div ng-repeat="item in featured">
      <!--{{ item.title }}-->
    </div>
  </div>
  {% endverbatim %}
  {% endblock %}

{% endblock %}
